# vim: set ts=2 sw=2 et
name: Ubuntu-CMake-Builds

on:
  workflow_dispatch:
    inputs:
      checkout-ref:
        type: string
        required: true
        description: "The ref to build"
      version:
        type: string
        required: true
        description: "Package version number (conformant)"
      full-matrix:
        type: boolean
        description: "Build the full matrix"
        required: false
        default: false

permissions:
  contents: read

env:
  # Unfortunately, it is not enough to just change this string here:
  # it occurs in a few other places here as well
  CRC32C_VERSION: 1.1.2

jobs:
  crc32c:
    name: cmake + ${{ matrix.os }} + ${{ matrix.architecture }} + crc32c
    runs-on: ${{ matrix.architecture == 'x64' && format('{0}', matrix.os) || format('{0}-arm', matrix.os) }}
    env:
      # *** reference to Workflow-level environment variable appears not to work
      CRC_PACKAGE_FILE_NAME: "google-crc32c-1.1.2-Linux-${{ matrix.architecture }}.deb"
    strategy:
      matrix:
        os: [ ubuntu-24.04 ]
        architecture: [ x64, arm64 ]
    steps:
    - name: Install prerequisites
      run: |
        sudo apt update
        # observed dependencies
        sudo apt --no-install-recommends install -y cmake
        # specified dependencies
    
    - name: Download google-crc32c
      run: |
        CRC32C_TARBALL=${CRC32C_VERSION}.tar.gz
        curl --silent --remote-name --location https://github.com/google/crc32c/archive/${CRC32C_TARBALL}
        tar xfz ${CRC32C_TARBALL}
    
    - name: Configure google-crc32c
      working-directory: crc32c-${{ env.CRC32C_VERSION }}/
      run: |
        # no need to build shared libraries; only ever used for this SDK
        cmake -S . -B build \
          -DCMAKE_BUILD_TYPE=Release \
          -DBUILD_SHARED_LIBS=no \
          -DCRC32C_BUILD_TESTS=OFF \
          -DCRC32C_BUILD_BENCHMARKS=OFF \
          -DCRC32C_USE_GLOG=OFF
    
    - name: Build google-crc32c
      working-directory: crc32c-${{ env.CRC32C_VERSION }}/
      run: cmake --build build/
    
    - name: Package google-crc32c
      id: package-google-crc32
      working-directory: crc32c-${{ env.CRC32C_VERSION }}/
      run: |
        cpack -G DEB \
          -D CPACK_PACKAGE_NAME="libcrc32c" \
          -D CPACK_PACKAGE_VERSION=$CRC32C_VERSION \
          -D CPACK_PACKAGE_VENDOR="Google" \
          -D CPACK_PACKAGE_DESCRIPTION="Google CRC32C Libraries" \
          -D CPACK_INSTALL_CMAKE_PROJECTS="${PWD}/build;google-crc32c;ALL;/" \
          -D CPACK_DEBIAN_PACKAGE_MAINTAINER="dev@hekster.org" \
          -D CPACK_DEBIAN_PACKAGE_SECTION="devel" \
          -D CPACK_DEBIAN_PACKAGE_PRIORITY="optional" \
          -D CPACK_DEBIAN_PACKAGE_SHLIBDEPS=OFF \
          -D CPACK_PACKAGE_FILE_NAME=${CRC_PACKAGE_FILE_NAME%.deb} \
          -D CPACK_CMAKE_GENERATOR="Unix Makefiles"
    
    - name: Save google-crc32
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.CRC_PACKAGE_FILE_NAME }}
        if-no-files-found: error
        path: crc32c-${{ env.CRC32C_VERSION }}/${{ env.CRC_PACKAGE_FILE_NAME }}
    
  
  cloud-cpp:
    name: cmake + ${{ matrix.os }} + ${{ matrix.architecture }} + ${{ matrix.shard }}
    needs: crc32c
    # GitHub Ubuntu runner has no architecture suffix for 'x86'
    # It would be better, of course, not to hard-code here the knowledge that there are
    # only two architectures.  I can't find a way to map the architecture name to
    # the proper suffix.  I can't find any way of making a computed property hack to work
    # without negating the 'exclude-from-full' trick.  So hard-coding it is
    runs-on: ${{ matrix.architecture == 'x64' && format('{0}', matrix.os) || format('{0}-arm', matrix.os) }}
    env:
      # *** reference to Workflow-level environment variable appears not to work
      CRC_PACKAGE_FILE_NAME: "google-crc32c-1.1.2-Linux-${{ matrix.architecture }}.deb"
      CPP_PACKAGE_FILE_NAME: "google-cloud-cpp-${{ matrix.shard }}-${{ inputs.version }}-Linux-${{ matrix.architecture }}.deb"
    permissions:
      contents: 'read'
    strategy:
      # Continue other builds even if one fails
      fail-fast: false
      matrix:
        exclude-from-full-trick: [ true ]
        os: [ ubuntu-24.04 ]
        architecture: [ x64, arm64 ]
        shard: [ Core1, Core2, Core3, Compute, AIPlatform, Shard1, Shard2, Shard3, Shard4, Shard5, Other ]
        exclude:
        # Only full builds include shards with generated code.
        - exclude-from-full-trick: ${{ ! inputs.full-matrix }}
          shard: Compute
        - exclude-from-full-trick: ${{ ! inputs.full-matrix }}
          shard: AIPlatform
        - exclude-from-full-trick: ${{ ! inputs.full-matrix }}
          shard: Shard1
        - exclude-from-full-trick: ${{ ! inputs.full-matrix }}
          shard: Shard2
        - exclude-from-full-trick: ${{ ! inputs.full-matrix }}
          shard: Shard3
        - exclude-from-full-trick: ${{ ! inputs.full-matrix }}
          shard: Shard4
        - exclude-from-full-trick: ${{ ! inputs.full-matrix }}
          shard: Shard5
        - exclude-from-full-trick: ${{ ! inputs.full-matrix }}
          shard: Other
    steps:
    - name: Install prerequisites
      run: |
        sudo apt update
        # observed dependencies
        sudo apt --no-install-recommends install -y cmake
        # specified dependencies
        sudo apt --no-install-recommends install -y \
            libabsl-dev \
            libcurl4-openssl-dev \
            libgrpc++-dev \
            protobuf-compiler-grpc \
            libprotobuf-dev \
            protobuf-compiler \
            nlohmann-json3-dev
    
    # crc32c only needed in specific cases
    - name: Load google-crc32c
      if: matrix.shard == 'Core1' || matrix.shard == 'Core2'
      uses: actions/download-artifact@v5
      with:
        name: ${{ env.CRC_PACKAGE_FILE_NAME }}
    
    - name: Install google-crc32c
      if: matrix.shard == 'Core1' || matrix.shard == 'Core2'
      run: sudo dpkg --install ${{ env.CRC_PACKAGE_FILE_NAME }}
    
    - name: Dynamic configuration
      id: dynamic
      shell: bash
      run: |
        core1_features=(
          bigtable
          spanner
        )
        core2_features=(
          pubsub
          pubsublite
          storage
          storage_grpc
        )
        core3_features=(
          pubsub
          pubsublite
        )
        # These are the libraries with the most "clients". To build the list
        # run something like this and find the midpoint:
        #
        # git grep -l 'class.*Client' 'google/cloud/**_client.h' |
        #    egrep -v "(bigtable/|internal/|pubsub/|pubsublite/|spanner/|storage/|testing_util/)" |
        #    cut -f -3 -d/| sort | uniq -c | sort -n |
        #    awk '{ s += $1; print s, $0}'
        #
        shard1_features=(
          dataproc
          monitoring
          retail
          discoveryengine
        )
        shard2_features=(
          servicecontrol
          speech
          support
          video
          datacatalog
          iam
          run
          talent
          contentwarehouse
          dataplex
          kms
          bigquery
          resourcemanager
          appengine
        )
        shard3_features=(
          channel
          cloudbuild
          cloudcontrolspartner
          composer
          containeranalysis
          datastore
          eventarc
          functions
          iap
          language
          metastore
          networkconnectivity
          networkservices
          policytroubleshooter
          profiler
          redis
          securitycenter
          servicedirectory
          tpu
          trace
          vision
          workflows
          beyondcorp
          billing
          binaryauthorization
          gkemulticloud
          logging
          notebooks
          osconfig
        )
        shard4_features=(
          domains
          edgecontainer
          edgenetwork
          essentialcontacts
          filestore
          ids
          managedidentities
          managedkafka
          memcache
          migrationcenter
          netapp
          networkmanagement
          networksecurity
          optimization
          orgpolicy
          oslogin
          policysimulator
          privateca
          privilegedaccessmanager
          publicca
          rapidmigrationassessment
          recaptchaenterprise
          recommender
          scheduler
          secretmanager
          securesourcemanager
          securitycentermanagement
          servicehealth
          servicemanagement
          serviceusage
          shell
          storagecontrol
          storageinsights
          storagetransfer
          tasks
          telcoautomation
          texttospeech
          timeseriesinsights
          translate
          videointelligence
          vmmigration
          vmwareengine
          vpcaccess
          webrisk
          websecurityscanner
          workstations
          automl
        )
        shard5_features=(
          bigquerycontrol
          dialogflow_cx
          dialogflow_es
          gkebackup
          gkeconnect
          gkehub
          sql
        )
        if [[ "${{ matrix.shard }}" == "Core1" ]]; then
          features="$(printf ",%s" "${core1_features[@]}")"
          echo "features=${features:1}" >> "${GITHUB_OUTPUT}"
        elif [[ "${{ matrix.shard }}" == "Core2" ]]; then
          features="$(printf ",%s" "${core2_features[@]}")"
          echo "features=${features:1}" >> "${GITHUB_OUTPUT}"
        elif [[ "${{ matrix.shard }}" == "Core3" ]]; then
          features="$(printf ",%s" "${core3_features[@]}")"
          echo "features=${features:1}" >> "${GITHUB_OUTPUT}"
        elif [[ "${{matrix.shard}}" == "Compute" ]]; then
          echo "features=compute" >> "${GITHUB_OUTPUT}"
        elif [[ "${{matrix.shard}}" == "AIPlatform" ]]; then
          echo "features=aiplatform" >> "${GITHUB_OUTPUT}"
        elif [[ "${{ matrix.shard }}" == "Shard1" ]]; then
          features="$(printf ",%s" "${shard1_features[@]}")"
          echo "features=${features:1}" >> "${GITHUB_OUTPUT}"
        elif [[ "${{ matrix.shard }}" == "Shard2" ]]; then
          features="$(printf ",%s" "${shard2_features[@]}")"
          echo "features=${features:1}" >> "${GITHUB_OUTPUT}"
        elif [[ "${{ matrix.shard }}" == "Shard3" ]]; then
          features="$(printf ",%s" "${shard3_features[@]}")"
          echo "features=${features:1}" >> "${GITHUB_OUTPUT}"
        elif [[ "${{ matrix.shard }}" == "Shard4" ]]; then
          features="$(printf ",%s" "${shard4_features[@]}")"
          echo "features=${features:1}" >> "${GITHUB_OUTPUT}"
        elif [[ "${{ matrix.shard }}" == "Shard5" ]]; then
          features="$(printf ",%s" "${shard5_features[@]}")"
          echo "features=${features:1}" >> "${GITHUB_OUTPUT}"
        else
          skipped_features=("${core1_features[@]}")
          skipped_features+=("${core2_features[@]}")
          skipped_features+=("${core3_features[@]}")
          skipped_features+=(compute)
          skipped_features+=(aiplatform)
          skipped_features+=("${shard1_features[@]}")
          skipped_features+=("${shard2_features[@]}")
          skipped_features+=("${shard3_features[@]}")
          skipped_features+=("${shard4_features[@]}")
          skipped_features+=("${shard5_features[@]}")
          skipped="$(printf ",-%s" "${skipped_features[@]}")"
          echo "features=__ga_libraries__,__experimental_libraries__,${skipped:1}" >> "${GITHUB_OUTPUT}"
        fi
    
    - name: Check out code
      uses: actions/checkout@v5
      with:
        ref: ${{ inputs.checkout-ref }}
    
    - name: Configure google-cloud-cpp
      run: |
        cmake -S . -B build \
          -DCMAKE_BUILD_TYPE=Release \
          -DBUILD_TESTING=OFF \
          -DGOOGLE_CLOUD_CPP_WITH_MOCKS=OFF \
          -DGOOGLE_CLOUD_CPP_ENABLE_EXAMPLES=OFF \
          -DGOOGLE_CLOUD_CPP_ENABLE=${{ steps.dynamic.outputs.features }}
    
    - name: Build google-cloud-cpp
      run: cmake --build build/ -j$(nproc)
    
    - name: Package google-cloud-cpp
      id: package-google-cloud-cpp
      run: |
        cpack -G DEB \
          -D CPACK_PACKAGE_NAME="libgoogle-cloud-cpp-${{ matrix.shard }}" \
          -D CPACK_PACKAGE_VERSION="${{ inputs.version }}" \
          -D CPACK_PACKAGE_VENDOR=Google \
          -D CPACK_PACKAGE_DESCRIPTION="Google Cloud C++ Client Libraries (${{ matrix.shard }})" \
          -D CPACK_INSTALL_CMAKE_PROJECTS="${PWD}/build;google-cloud-cpp-${{ matrix.shard }};ALL;/" \
          -D CPACK_DEBIAN_PACKAGE_MAINTAINER='dev@hekster.org' \
          -D CPACK_DEBIAN_PACKAGE_SECTION=devel \
          -D CPACK_DEBIAN_PACKAGE_PRIORITY=optional \
          -D CPACK_DEBIAN_PACKAGE_SHLIBDEPS=ON \
          -D CPACK_DEBIAN_PACKAGE_DEPENDS="libabsl-dev, libgrpc++-dev, libprotobuf32t64${{ (matrix.shard == 'Core1' || matrix.shard == 'Core2') && ', libcrc32c' || '' }}" \
          -D CPACK_PACKAGE_FILE_NAME=${CPP_PACKAGE_FILE_NAME%.deb} \
          -D CPACK_CMAKE_GENERATOR="Unix Makefiles"
    
    - name: Save google-cloud-cpp
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.CPP_PACKAGE_FILE_NAME }}
        if-no-files-found: error
        path: ${{ env.CPP_PACKAGE_FILE_NAME }}
